@model IEnumerable<UniversityManagment.Entities.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1 >Enrollments</h1>

<p>
    <a asp-action="Create" class="button-create">Create New</a>
    <hr />
</p>
<div>
    <form>
        <input type="text" name="searchString" placeholder="    Search" value="@ViewBag.Search"/>
        <input type="submit" value="Search"/>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseAssignments.Room)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseAssignments.Room)
            </td>
               
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
